* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  height: 100vh;
  position: relative;
  width: 100vw;
}

main {
  background: rgb(31,31,31);
  background: linear-gradient(0deg, rgba(31,31,31,1) 70%, rgba(54,54,54,0) 75%);
  color: white;
  transform: translateY(150px);
  padding: 30px;
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  width: 100%;
}

.mobile-menu {
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
}

.mobile-menu .nav-brand {
  width: 30%;
}

.mobile-menu .navbar-nav {
  flex-direction: row;
}

.mobile-menu-nav {
  flex-direction: row;
}

.navbar-nav .nav-item {
  display: none;
}

.nav-item {
  margin: 0 10px;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: white;
}

.navbar-nav .nav-item.mobile {
  display: block;
}

.navbar-nav .nav-item a {
  font-size: 10px;
}

#destaque {
  align-items: flex-start;
  background-image: url('./imgs/spartacus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  padding-left: 2em;
  position: absolute;
  z-index: 0;
  width: 100vw;
}

#destaque .description-destaque {
  width: 35%;
}

#destaque .description-destaque h3 {
  display: none;
}

#destaque .description-destaque img {
  margin-bottom: 20px;
  width: 100%;
}

.color-white {
  color: white;
}

.card-list .card-list-item {
  margin: 0 10px;
}

.assistir {
  border: none;
  background-color: white;
  font-size: 10px;
  font-weight: 600;
}

.mais-informacoes {
  border: none;
  background-color: rgba(124, 124, 124, 0.726);
  color: white;
  font-size: 10px;
  font-weight: 600;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #797979; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(49, 49, 49); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20); 
}

.seta {
  background-color: rgba(58, 58, 58, 0.582);
  width: 50px;
}


.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

.flickity-prev-next-button {
  color: white;
  border-radius: 0;
  background-color: #1f1f1f48;
  width: 50px !important;
  height: 95%;
  top: 105px;
}


.flickity-prev-next-button:hover {
  background-color: #616161a4;
}

@media only screen and (min-width: 650px) {
  #destaque {
    height: 400px;
  }

  main {
    transform: translateY(330px);
  }

  .assistir , .mais-informacoes {
    font-size: 15px;
  }
}

@media only screen and (min-width: 850px) {
  .assistir , .mais-informacoes {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    transform: translateY(320px);
    padding-top: 300px;
  }

  #destaque {
    height: 600px;
  }

  #destaque .description-destaque h3 {
    display: block;
  }

  .navbar-nav .nav-item {
    display: block;
  }

  .navbar-nav .nav-item a {
    font-size: 15px;
  }

  .nav-link:hover {
    cursor: pointer;
    color: rgb(170, 170, 170);
  }

  .nav-item.mobile.desktop {
    display: none;
  }

  .mobile-menu .nav-brand {
    width: 10%;
  }

  .card-list .card-list-item {
    margin: 0 20px;
  }
}

.button-back-to-home {
  background-color: #6b63ff;
  border: none;
  border-radius: 100%;
  color: white;
  filter: opacity(0.5);
  font-size: 20px;
  font-weight: 700;
  left: 50px;
  padding: 10px 15px;
  position: fixed;
  overflow-x: hidden;
  top: 50px;
  width: 50px;
  z-index: 20000;
}

.button-back-to-home:hover {
  border-radius: 20px;
  filter: opacity(1);
  width: 300px;
}

.button-back-to-home::before {
  content: '<';
}

.button-back-to-home:hover::before {
  content: '';
}

.button-back-to-home:hover::after {
  content: 'Voltar para portfolio';
}

@media  only screen and (max-width: 400px) {
  .button-back-to-home {
    left: 10px;
    top: 10px;
  }
}
